body{
	background-image: url("assets/ps/12.png");
}
h2{
	display: inline;
	margin: 0;
	font-size: 48px;
	line-height: 48px;
	font-style: normal;
	position: relative;
    left: 20vw;
    top: 13.4vh;
	/*margin-left: 21.4vw;*/
	/*margin-top: 13.4vh;*/
}
p{
	text-align: center;
	margin: 0 24vw;
	position: absolute;
	top: 25vh;
	font-size: 24px;
	line-height: 48px;
}